<div id="newsletter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Pour ne manquer aucun événement, inscrivez vous à notre newsletter !</h4>
                <form class="">
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" id="abonnement" placeholder="johngood@website.com">
                  </div>
                  <button type="submit" class="btn btn-default">Hop !</button>
                </form>
            </div>
        </div>
    </div>
</div>