<div id="newsletter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Pour ne manquer aucun événement, inscrivez vous à notre newsletter !</h4>
                <form action="//club.us10.list-manage.com/subscribe/post?u=07d4a1946601337b401efc135&amp;id=747a549f08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div class="form-group">
                    <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="johngood@website.com">
                  </div>
                  <input type="submit" value="Hop !" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                </form>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_07d4a1946601337b401efc135_747a549f08" tabindex="-1" value=""></div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>
    </div>
</div>

